@font-face {
    font-family: Roboto;
    src: url(../../../assets/Roboto/Roboto-Black.ttf);
}

.titulo{
    font-size: 50px;
    font-family: Roboto;
}
.subtitulo{
    font-size: 18px;
    font-family: Roboto;
}
.mt-5{
    margin-top: 5px;
}
.planificacion{
    width: 95%;
    position: relative;
}

.fases{
    position: relative;
    width: 25%;
}

table thead tr th{
    width: 25%;
}

/* .select{
    width: 110px;
} */